@import url("nav-style.css");
*{
    margin:0;
}
#container{
    min-width: 60vw;
    margin: 0vw 10vw 0vw 10vw;
    padding-left: 10vw;

}
#header{
    min-height: 10vh;
}
#nav{
    height: 5vh;
}
#main{
    margin-top: 30px;
    padding:5px;
    max-width: 40vw;
    min-height: 65vh;
}
#footer{
    margin-top: 30px;
    width: 20em;
    margin-left: 5em;
}
/*Estilizando a lista de Produtos Cadastrados e o pointer qnd sobre input radio*/
#main ul{
    list-style: none;
    text-decoration: underline;
}
/*------------------------------------*/
input[type="radio"], label[for="money"], label[for="credcard"]{
    cursor:pointer;
}
/*------------------------------------*/
